@import "~nord/src/sass/nord.scss";

.Result {
    background-color: $nord2;
    color: $nord4;    

    outline: none;
    border: none;
    border-radius: 0.5em;
   
    padding: 1em;
    width: fit-content;
    height: fit-content;

    font-size: larger;
    
    &:hover, &:focus {
        box-shadow: $nord0 0em 0.1em 0.5em;
    }  

    dt {
        color: $nord0;
        display: inline-block;
        text-align: left;
    }

    dd {
        display: inline-block;
    }

    div {
        margin: 1em;
    }

    .Unit {
        color: $nord0;
    }
}

