@import "~nord/src/sass/nord.scss";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

.Letter {
    display: inline-block;

    text-align: left;

    margin: none;
    padding: none;
    width: fit-content;
    height: fit-content;


    &--ghosted {
        @extend .Letter;
       color: $nord0;
    }
    &--valid {
        @extend .Letter;
        color: $nord8;
    }
    &--invalid {
        @extend .Letter;
        color: $nord12;
    }
    &--extra {
        @extend .Letter;
        color: $nord11;
    }
}

.Special {
    background-color: red;
}

.Word {
    display: inline-block;
 
    margin: 0 0.5em 0 0;

    &--invalid {
        @extend .Word;
        border-bottom: 0.05em solid red;
    }
}

.Line {
    margin: 0 0 0.2em 0;
    border-radius: 1em;
    padding: 0.25em 0.5em;

    &--active {
        @extend .Line;
        background-color: $nord3;
    }

    &--invalid {
        @extend .Line;
        background-color: $nord1;
    }
}

.Caret {
    display: inline-block;
    
    width: 2px;
    height: 1.25em;

    position: absolute;

    background-color: $nord6;
    animation: blink 1s steps(1) infinite;
    -webkit-animation: blink 1s steps(1) infinite;
}

@keyframes blink { 50% { background-color: transparent; } }
@-webkit-keyframes blink { 50% { background-color: transparent; } }

.Count {
    margin: 1em;
}

.TypeArea {
    background-color: $nord2;
    
    overflow-wrap: break-word;

    outline: none;
    border: none;
    border-radius: 0.5em;
   
    padding: 1em;
    width: 30em;
    height: 30vh;

    text-align: left;
    font-size: larger;
    font-family: 'Fira Code';
    
    &:hover, &:focus {
        box-shadow: $nord0 0em 0.1em 0.5em;
    }   
}
