@import "~nord/src/sass/nord.scss";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

.TypeArea {
    background-color: $nord2;
    color: $nord8;
    
    outline: none;
    border: none;
    border-radius: 0.25em;
   
    padding: 2em;
    width: 20em;
    height: 30vh;

    text-align: left;
    font-size: larger;
    font-family: 'Fira Code';
    font-variant-ligatures: normal;
    
    &:hover, &:focus {
        box-shadow: $nord0 0em 0.1em 0.5em;
    }
}

.Letter {
    color: $nord8;

    text-align: left;

    margin: none;
    padding: none;
    width: fit-content;
    height: fit-content;
}

.Word {
    margin: 0 0.5em 0 0;
}

.Line {
    margin-top: 0.5em;
}