@import "~nord/src/sass/nord.scss";

.TypeArea {
    background-color: $nord2;
    color: $nord8;
    
    outline: none;
    border: none;
    border-radius: 0.25em;
   
    padding: 2em;
    width: 20em;
    height: 30vh;

    text-align: center;
    font-size: larger;

    
    &:hover, &:focus {
        box-shadow: $nord0 0em 0.1em 0.5em;
    }
}
